/* color palette 
  warm green 
      rgb(160, 191, 48)
  cold green 
      rgb(156, 166, 86)
  white 
      rgb(242, 242, 242)
  light grey 
      rgb(RGB 89, 89, 89) 
  dark gray 
      rgb(38, 38, 38) */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
