/* color palette 
  warm green 
      rgb(160, 191, 48)
  white 
      rgb(242, 242, 242)
  lighter grey 
      rgb(20,22,38) 
  darker gray 
      rgb(16,17,30) */
      

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

input[type="radio"] {
  appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: black;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid black;
    border-radius: 50%;
    transform: translateY(1.4rem);
    display: grid;
    place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgb(73, 84, 33);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}
